/Logs/
/Library/
/UserSettings/
/Temp/
/obj/

/build/
/builds/
**/RockTomate/Cache/
**/RockTomate/Logs/

/.vs/
/.vscode/
/.idea/
/*.userprefs
/*.csproj
/*.sln
/*.DotSettings.user
*.sln.DotSettings.user
/*.vrmanifest

/Assets/Plugins/Editor/JetBrains*
JetBrains.Rider.Unity.*.dll